<!-- CONTAINER -->
    <div id="container" class="container">
        <i class="fa fa-times fa-2x close" style='display:none'></i>
        <!-- PARALLAX -->
        <div class='parallax'>
            <ul id="scene" class="scene">

                <!-- None -->
                <!-- <li class="layer" data-depth="0.10">
                </li> -->

                <!-- Background -->
                <li class="layer" data-depth="0.10">
                    <div class='background'>

                    </div>
                </li>



                <!-- Illustrations -->
                <li class="layer" data-depth="1.00">
                    <div class='illustrations'>
                        <h1>Illustrations</h1>
                        <div class='ma_taille'  id='illustration_1'>
                                <div class="shadow">
                                    <div class='view view-first'>

                                        <img src="{{rootUri}}/src/media/assets/datas/img/Thumb/small/FLUNCH_ill_thumb.jpg" class='img'>
                                        <div class="mask">
                                            <!--<p>Bonjour</p>-->
                                            <a class="fancybox zoom" rel="illustrations" href="{{rootUri}}/src/media/assets/datas/img/Thumb/big/FLUNCH_ill.jpg"><img src='{{rootUri}}/src/media/assets/datas/img/pics/add121.png'></a>
                                            <a href="#1" class="info">Le projet</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='ma_taille'  id='illustration_2'>
                                <div class="shadow">
                                    <div class='view view-first'>

                                        <img src="{{rootUri}}/src/media/assets/datas/img/Thumb/small/PASTA_ill_thumb.jpg" class='img'>
                                        <div class="mask">
                                            <!--<p>Bonjour</p>-->
                                            <a class="fancybox zoom" rel="illustrations" href="{{rootUri}}/src/media/assets/datas/img/Thumb/big/PASTA_ill.jpg"><img src='{{rootUri}}/src/media/assets/datas/img/pics/add121.png'></a>
                                            <a href="#2" class="info">Le projet</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>


                    <div class='logo'>
                        <h1>Identité visuelle</h1>
                        
                        <!-- Logo avec hover -->
                        <div class='ma_taille' id='logo1'>
                            <div class="shadow">
                                <div class='view view-first'>
                                    <img src="{{rootUri}}/src/media/assets/datas/img/Thumb/small/PASTA_ill_thumb.jpg" class='img'>
                                    <div class="mask">
                                        <!--<p>Bonjour</p>-->
                                        <a class="fancybox zoom" rel="logo" href="{{rootUri}}/src/media/assets/datas/img/Thumb/big/POSTER-Madeleine.jpg"><img src='{{rootUri}}/src/media/assets/datas/img/pics/add121.png'></a>
                                        <a href="#legrandjazz" class="info">Le projet</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='ma_taille' id='logo2'>
                            <div class="shadow">
                                <div class='view view-first'>
                                    <img src="{{rootUri}}/src/media/assets/datas/img/Thumb/small/FLUNCH_ill_thumb.jpg" class='img'>
                                    <div class="mask">
                                        <!--<p>Bonjour</p>-->
                                        <a class="fancybox zoom" rel="illustrations" href="{{rootUri}}/src/media/assets/datas/img/Thumb/big/POSTER-Madeleine.jpg"><img src='{{rootUri}}/src/media/assets/datas/img/pics/add121.png'></a>
                                        <a href="#legrandjazz" class="info">Le projet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- \ -->
                    </div>
 


                    <div class="site">
                        <h1>Web</h1>
                        
                        <!-- Site web avec hover -->
                        <div class='ma_taille' id='web1'>
                            <div class="shadow">
                                <div class='view view-first'>
                                    <img src="{{rootUri}}/src/media/assets/datas/img/Thumb/small/FLUNCH_ill_thumb.jpg" class='img'>
                                    <div class="mask">
                                        <!--<p>Bonjour</p>-->
                                        <a class="fancybox zoom" rel="illustrations" href="{{rootUri}}/src/media/assets/datas/img/Thumb/big/POSTER-Madeleine.jpg"><img src='{{rootUri}}/src/media/assets/datas/img/pics/add121.png'></a>
                                        <a href="#legrandjazz" class="info">Le projet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- \ -->

                        <!-- Site web avec hover -->
                        <div class='ma_taille' id='web2'>
                            <div class="shadow">
                                <div class='view view-first'>
                                    <img src="{{rootUri}}/src/media/assets/datas/img/Thumb/small/PASTA_ill_thumb.jpg" class='img'>
                                    <div class="mask">
                                        <!--<p>Bonjour</p>-->
                                        <a class="fancybox zoom" rel="illustrations" href="{{rootUri}}/src/media/assets/datas/img/Thumb/big/POSTER-Madeleine.jpg"><img src='{{rootUri}}/src/media/assets/datas/img/pics/add121.png'></a>
                                        <a href="#legrandjazz" class="info">Le projet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- \ -->
                    </div>



                    <div class="retouche">
                        <h1>Retouche photos</h1>
                        
                        <!-- Retouches avec hover -->
                        <div class='ma_taille' id='retouche1'>
                            <div class="shadow">
                                <div class='view view-first'>
                                    <img src="{{rootUri}}/src/media/assets/datas/img/Thumb/small/FLUNCH_ill_thumb.jpg" class='img'>
                                    <div class="mask">
                                        <!--<p>Bonjour</p>-->
                                        <a class="fancybox zoom" rel="illustrations" href="{{rootUri}}/src/media/assets/datas/img/Thumb/big/POSTER-Madeleine.jpg"><img src='{{rootUri}}/src/media/assets/datas/img/pics/add121.png'></a>
                                        <a href="#legrandjazz" class="info">Le projet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- \ -->

                        <!-- Retouches avec hover -->
                        <div class='ma_taille' id='retouche2'>
                            <div class="shadow">
                                <div class='view view-first'>
                                    <img src="{{rootUri}}/src/media/assets/datas/img/Thumb/small/FLUNCH_ill_thumb.jpg" class='img'>
                                    <div class="mask">
                                        <!--<p>Bonjour</p>-->
                                        <a class="fancybox zoom" rel="illustrations" href="{{rootUri}}/src/media/assets/datas/img/Thumb/big/POSTER-Madeleine.jpg"><img src='{{rootUri}}/src/media/assets/datas/img/pics/add121.png'></a>
                                        <a href="#legrandjazz" class="info">Le projet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- \ -->
                    </div>



                    <div class="miseenpage">
                        <h1>Mise en page</h1>
                        
                        <!-- mise en page avec hover -->
                        <div class='ma_taille' id='page1' >
                            <div class="shadow">
                                <div class='view view-first'>
                                    <img src="{{rootUri}}/src/media/assets/datas/img/Thumb/small/FLUNCH_ill_thumb.jpg" class='img'>
                                    <div class="mask">
                                        <!--<p>Bonjour</p>-->
                                        <a class="fancybox zoom" rel="illustrations" href="{{rootUri}}/src/media/assets/datas/img/Thumb/big/POSTER-Madeleine.jpg"><img src='{{rootUri}}/src/media/assets/datas/img/pics/add121.png'></a>
                                        <a href="#legrandjazz" class="info">Le projet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- \ -->

                        <!-- mise en page avec hover -->
                        <div class='ma_taille' id='page2'>
                            <div class="shadow">
                                <div class='view view-first'>
                                    <img src="{{rootUri}}/src/media/assets/datas/img/Thumb/small/PASTA_ill_thumb.jpg" class='img'>
                                    <div class="mask">
                                        <!--<p>Bonjour</p>-->
                                        <a class="fancybox zoom" rel="illustrations" href="{{rootUri}}/src/media/assets/datas/img/Thumb/big/POSTER-Madeleine.jpg"><img src='{{rootUri}}/src/media/assets/datas/img/pics/add121.png'></a>
                                        <a href="#legrandjazz" class="info">Le projet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- \ -->
                    </div>



                    <div class="packaging">
                        <h1>Packaging CD</h1>
                        
                        <!-- mise en page avec hover -->
                        <div class='ma_taille' id='CD1'>
                            <div class="shadow">
                                <div class='view view-first'>
                                    <img src="{{rootUri}}/src/media/assets/datas/img/Thumb/small/FLUNCH_ill_thumb.jpg" class='img'>
                                    <div class="mask">
                                        <!--<p>Bonjour</p>-->
                                        <a class="fancybox zoom" rel="illustrations" href="{{rootUri}}/src/media/assets/datas/img/Thumb/big/POSTER-Madeleine.jpg"><img src='{{rootUri}}/src/media/assets/datas/img/pics/add121.png'></a>
                                        <a href="#legrandjazz" class="info">Le projet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- \ -->

                        <!-- mise en page avec hover -->
                        <div class='ma_taille' id='CD2'>
                            <div class="shadow">
                                <div class='view view-first'>
                                    <img src="{{rootUri}}/src/media/assets/datas/img/Thumb/small/PASTA_ill_thumb.jpg" class='img'>
                                    <div class="mask">
                                        <!--<p>Bonjour</p>-->
                                        <a class="fancybox zoom" rel="illustrations" href="{{rootUri}}/src/media/assets/datas/img/Thumb/big/POSTER-Madeleine.jpg"><img src='{{rootUri}}/src/media/assets/datas/img/pics/add121.png'></a>
                                        <a href="#legrandjazz" class="info">Le projet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- \ -->
                    </div>
                </li>
            </ul>
        </div>
        <!-- FIN PARALLAX -->



        <!-- OTHERS -->
        <div class='others_illustrations others'>
            {% for image in images if image.type == 'thumb' and image.id_categorie == 1 %}
                <!-- Illustration avec hover -->
                <div class='ma_taille'  id='illustration{{image.id}}'>
                    <div class="shadow">
                        <div class='view view-first'>

                            <img src="{{rootUri}}/src/media/assets/datas/img/Thumb/small/{{image.nom_image}}_thumb.{{image.extension_image}}" class='img'>
                            <div class="mask">
                                <!--<p>Bonjour</p>-->
                                <a class="fancybox zoom" rel="illustrations" href="{{rootUri}}/src/media/assets/datas/img/{{image.nom_dossier}}/big/{{image.nom_image}}.{{image.extension_image}}"><img src='{{rootUri}}/src/media/assets/datas/img/pics/add121.png'></a>
                                <a href="#{{image.id_projet}}" class="info">Le projet</a>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
    <!-- FIN CONTAINER -->

     <!-- INCLUDE MENU -->
    {% include "_menu.html.twig" %}
    <!-- END INCLUDE MENU -->

    <!-- CANVAS -->
    <canvas id="eyes"></canvas>
    <!-- FIN CANVAS -->